
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 33% 98%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;

    --secondary: 226 70% 55.9%;
    --secondary-foreground: 210 40% 98%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 250 95% 64%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 40% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 40% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 226 57.9% 50.1%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 250 95% 64%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.scanning-effect {
  position: relative;
  overflow: hidden;
}

.scanning-effect::after {
  content: "";
  position: absolute;
  top: -150%;
  left: -50%;
  width: 200%;
  height: 200%;
  opacity: 0.2;
  background: linear-gradient(
    to bottom,
    rgba(0, 88, 230, 0),
    rgba(41, 74, 128, 0.6),
    rgba(0, 48, 124, 0)
  );
  animation: scanning 2s ease-in-out infinite;
}

@keyframes scanning {
  0% {
    transform: rotate(45deg) translateY(0%);
  }
  100% {
    transform: rotate(45deg) translateY(100%);
  }
}

.bg-grid {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, rgba(0, 159, 85, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(111, 118, 3, 0.05) 1px, transparent 1px);
}

.animate-flicker {
  animation: flicker 3s linear infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 1;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.5;
  }
}
